black==22.6.0
typer==0.6.1
pyyaml
protobuf>=4.23.2
addict
h5py
tqdm
future
pydantic==1.9.0
wandb>=0.13.5
ffmpeg-python
notebook
matplotlib
albumentations==1.1.0
insightface>=0.7.3
basicsr>=1.4.2
facexlib>=0.2.5
lpips
dreamsim==0.1.3
git+https://github.com/nupurkmr9/vision-aided-gan.git
kornia==0.7.1
pandas==1.4.4
imageio==2.19.3
imageio-ffmpeg
opencv-python
scikit-image
scipy
flopco-pytorch